
body {
    
    background-color: powderblue;
}
h1 {
    font-family: verdana;
    font-size: 500%;
    color: blue;
}
p {
    font-family: courier;
    font-size: 360%;
    color: red;
}